<a href="https://colab.research.google.com/github/kumarabhinavthakur274/Play_Store_-App_-Review_Analysis---Capstone-Project/blob/main/Kumar_Abhinav_Play_Store_App_Review_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market. </b>

## <b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.</b>

## <b> Explore and analyze the data to discover key factors responsible for app engagement and success. </b>

In [805]:
#importing pandas and numpy module
import pandas as pd
import numpy as np

In [806]:
# importing module for ignoring warnings 
import warnings
warnings.filterwarnings("ignore")

In [807]:
# mounting drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [808]:
# importing data set on Play store app review Analysis
df = pd.read_csv("/content/drive/MyDrive/Project/playstore/Play Store Data.csv")

In [809]:
df1 = pd.read_csv("/content/drive/MyDrive/Project/playstore/User Reviews.csv")

# **Basic Data description**

In [810]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [811]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64295 entries, 0 to 64294
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     64295 non-null  object
 1   Translated_Review       37427 non-null  object
 2   Sentiment               37432 non-null  object
 3   Sentiment_Polarity      37432 non-null  float64
 4   Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(2), object(3)
memory usage: 2.5+ MB

In [812]:
df.describe()    # here we can see that one one column "Rating" is numaric other numeric attributes are in string.

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [813]:
df1.describe()

       Sentiment_Polarity  Sentiment_Subjectivity
count        37432.000000            37432.000000
mean             0.182146                0.492704
std              0.351301                0.259949
min             -1.000000                0.000000
25%              0.000000                0.357143
50%              0.150000                0.514286
75%              0.400000                0.650000
max              1.000000                1.000000

# Data Cleaing

Lets treat the Rating column

In [814]:
# we know that column rating is in interger form so lets chek for null values
df['Rating'].unique()

array([ 4.1,  3.9,  4.7,  4.5,  4.3,  4.4,  3.8,  4.2,  4.6,  3.2,  4. ,
        nan,  4.8,  4.9,  3.6,  3.7,  3.3,  3.4,  3.5,  3.1,  5. ,  2.6,
        3. ,  1.9,  2.5,  2.8,  2.7,  1. ,  2.9,  2.3,  2.2,  1.7,  2. ,
        1.8,  2.4,  1.6,  2.1,  1.4,  1.5,  1.2, 19. ])

In [815]:
#1. Substituting the Null and values greater than 5 (wrong ratings)  in Rating with 0
df['Rating'] = df['Rating'].fillna(0)
df['Rating'] = df['Rating'].replace(19.,0,regex = True)

In [816]:
# yeahhh Rating column is treated
df['Rating'].unique()

array([4.1, 3.9, 4.7, 4.5, 4.3, 4.4, 3.8, 4.2, 4.6, 3.2, 4. , 0. , 4.8,
       4.9, 3.6, 3.7, 3.3, 3.4, 3.5, 3.1, 5. , 2.6, 3. , 1.9, 2.5, 2.8,
       2.7, 1. , 2.9, 2.3, 2.2, 1.7, 2. , 1.8, 2.4, 1.6, 2.1, 1.4, 1.5,
       1.2])

Lets Tackle the Reviews column now

In [817]:
# converting the string data to numeric
df['Reviews'] = pd.to_numeric(df['Reviews'],errors ='coerce')
# substituting all the null values in data set with 0
df['Reviews'] = df['Reviews'].replace(np.nan,0,regex = True)
# changing the data type of Reviews 
df['Reviews'] = df['Reviews'].astype(int)

In [818]:
df.info()   #now check the dtype of Reviews , task is done

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.1+ MB

Lets Treat the price column

In [819]:
df['Price'].unique() #we have to remove the dollor symbols and then convert it into float

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In the above cell we can see that there some wrong value named Everyone out of no where lets eliminate it

In [820]:
# checking for Everyone(wrong data)
temp_df = df['Price'].value_counts().reset_index()
temp_df[temp_df["index"]=="Everyone"]

       index  Price
60  Everyone      1

In [821]:
# eliminating dollor symbol
df['Price'] = df['Price'].str.replace('$','')
# Replacing Everyone with 0
df['Price'] = df['Price'].replace('Everyone',0,regex = True)
# Now converting the data type into float
df['Price'] = df['Price'].astype(float)

In [822]:
df.info()  # we can see that task is done

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.1+ MB

Lets treat Installs column

In [823]:
df.Installs.unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0', 'Free'], dtype=object)

In [824]:
df.Installs = df.Installs.apply(lambda x:x.replace('+',''))
df['Installs'] = df['Installs'].replace('Free',"0",regex = True)
df['Installs'] = df['Installs'].replace(',','',regex = True)
df['Installs'] = df['Installs'].astype(float)

In [825]:
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,10000.0,Free,0.0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,500000.0,Free,0.0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,5000000.0,Free,0.0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,50000000.0,Free,0.0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,100000.0,Free,0.0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [826]:
df.Size.unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '1,000+',
       '470k', '226k', '240k', '89k', '234k', '257k', '861k', '467k',
       '157k', '44k', '676k', '67k', '552k', '885k', '1020k', '582k',
       '619k'], dtype=object)

In [827]:
def replace_M_k(x):
  if "M" in x:
    return x.replace("M","000")
  elif "k" in x :
    return x.replace("k","000000")
  else:
    return 0

In [828]:
df['Size'] = df['Size'].apply(replace_M_k)

In [829]:
df['Size'] = df['Size'].astype(float)

In [830]:
# def replacing_wrong_values(x):
#   if x<10.0:
#     value = x*1000
#     return value
  
# df['Size'] = df['Size'].apply(replacing_wrong_values)

In [831]:
print(list(df['Size'].unique()))

[19000.0, 14000.0, 8.7, 25000.0, 2.8, 5.6, 29000.0, 33000.0, 3.1, 28000.0, 12000.0, 20000.0, 21000.0, 37000.0, 2.7, 5.5, 17000.0, 39000.0, 31000.0, 4.2, 7.0, 23000.0, 6.0, 6.1, 4.6, 9.2, 5.2, 11000.0, 24000.0, 0.0, 9.4, 15000.0, 10000.0, 1.2, 26000.0, 8.0, 7.9, 56000.0, 57000.0, 35000.0, 54000.0, 201000000.0, 3.6, 5.7, 8.6, 2.4, 27000.0, 2.5, 16000.0, 3.4, 8.9, 3.9, 2.9, 38000.0, 32000.0, 5.4, 18000.0, 1.1, 2.2, 4.5, 9.8, 52000.0, 9.0, 6.7, 30000.0, 2.6, 7.1, 3.7, 22000.0, 7.4, 6.4, 3.2, 8.2, 9.9, 4.9, 9.5, 5.0, 5.9, 13000.0, 73000.0, 6.8, 3.5, 4.0, 2.3, 7.2, 2.1, 42000.0, 7.3, 9.1, 55000.0, 23000000.0, 6.5, 1.5, 7.5, 51000.0, 41000.0, 48000.0, 8.5, 46000.0, 8.3, 4.3, 4.7, 3.3, 40000.0, 7.8, 8.8, 6.6, 5.1, 61000.0, 66000.0, 79000000.0, 8.4, 118000000.0, 44000.0, 695000000.0, 1.6, 6.2, 18000000.0, 53000.0, 1.4, 3.0, 5.8, 3.8, 9.6, 45000.0, 63000.0, 49000.0, 77000.0, 4.4, 4.8, 70000.0, 6.9, 9.3, 10.0, 8.1, 36000.0, 84000.0, 97000.0, 2.0, 1.9, 1.8, 5.3, 47000.0, 556000000.0, 526000000.0, 76000.0, 7.6, 59000.0, 9.7, 78000.0, 72000.0, 43000.0, 7.7, 6.3, 334000000.0, 34000.0, 93000.0, 65000.0, 79000.0, 100000.0, 58000.0, 50000.0, 68000.0, 64000.0, 67000.0, 60000.0, 94000.0, 232000000.0, 99000.0, 624000000.0, 95000.0, 41000000.0, 292000000.0, 11000000.0, 80000.0, 1.7, 74000.0, 62000.0, 69000.0, 75000.0, 98000.0, 85000.0, 82000.0, 96000.0, 87000.0, 71000.0, 86000.0, 91000.0, 81000.0, 92000.0, 83000.0, 88000.0, 704000000.0, 862000000.0, 899000000.0, 378000000.0, 266000000.0, 375000000.0, 1.3, 975000000.0, 980000000.0, 4.1, 89000.0, 696000000.0, 544000000.0, 525000000.0, 920000000.0, 779000000.0, 853000000.0, 720000000.0, 713000000.0, 772000000.0, 318000000.0, 58000000.0, 241000000.0, 196000000.0, 857000000.0, 51000000.0, 953000000.0, 865000000.0, 251000000.0, 930000000.0, 540000000.0, 313000000.0, 746000000.0, 203000000.0, 26000000.0, 314000000.0, 239000000.0, 371000000.0, 220000000.0, 730000000.0, 756000000.0, 91000000.0, 293000000.0, 17000000.0, 74000000.0, 14000000.0, 317000000.0, 78000000.0, 924000000.0, 902000000.0, 818000000.0, 81000000.0, 939000000.0, 169000000.0, 45000000.0, 475000000.0, 965000000.0, 90000.0, 545000000.0, 61000000.0, 283000000.0, 655000000.0, 714000000.0, 93000000.0, 872000000.0, 121000000.0, 322000000.0, 1.0, 976000000.0, 172000000.0, 238000000.0, 549000000.0, 206000000.0, 954000000.0, 444000000.0, 717000000.0, 210000000.0, 609000000.0, 308000000.0, 705000000.0, 306000000.0, 904000000.0, 473000000.0, 175000000.0, 350000000.0, 383000000.0, 454000000.0, 421000000.0, 70000000.0, 812000000.0, 442000000.0, 842000000.0, 417000000.0, 412000000.0, 459000000.0, 478000000.0, 335000000.0, 782000000.0, 721000000.0, 430000000.0, 429000000.0, 192000000.0, 200000000.0, 460000000.0, 728000000.0, 496000000.0, 816000000.0, 414000000.0, 506000000.0, 887000000.0, 613000000.0, 243000000.0, 569000000.0, 778000000.0, 683000000.0, 592000000.0, 319000000.0, 186000000.0, 840000000.0, 647000000.0, 191000000.0, 373000000.0, 437000000.0, 598000000.0, 716000000.0, 585000000.0, 982000000.0, 222000000.0, 219000000.0, 55000000.0, 948000000.0, 323000000.0, 691000000.0, 511000000.0, 951000000.0, 963000000.0, 25000000.0, 554000000.0, 351000000.0, 27000000.0, 82000000.0, 208000000.0, 913000000.0, 514000000.0, 551000000.0, 29000000.0, 103000000.0, 898000000.0, 743000000.0, 116000000.0, 153000000.0, 209000000.0, 353000000.0, 499000000.0, 173000000.0, 597000000.0, 809000000.0, 122000000.0, 411000000.0, 400000000.0, 801000000.0, 787000000.0, 237000000.0, 50000000.0, 643000000.0, 986000000.0, 97000000.0, 516000000.0, 837000000.0, 780000000.0, 961000000.0, 269000000.0, 20000000.0, 498000000.0, 600000000.0, 749000000.0, 642000000.0, 881000000.0, 72000000.0, 656000000.0, 601000000.0, 221000000.0, 228000000.0, 108000000.0, 940000000.0, 176000000.0, 33000000.0, 663000000.0, 34000000.0, 942000000.0, 259000000.0, 164000000.0, 458000000.0, 245000000.0, 629000000.0, 28000000.0, 288000000.0, 775000000.0, 785000000.0, 636000000.0, 916000000.0, 994000000.0, 309000000.0, 485000000.0, 914000000.0, 903000000.0, 608000000.0, 500000000.0, 54000000.0, 562000000.0, 847000000.0, 957000000.0, 688000000.0, 811000000.0, 270000000.0, 48000000.0, 329000000.0, 523000000.0, 921000000.0, 874000000.0, 981000000.0, 784000000.0, 280000000.0, 24000000.0, 518000000.0, 754000000.0, 892000000.0, 154000000.0, 860000000.0, 364000000.0, 387000000.0, 626000000.0, 161000000.0, 879000000.0, 39000000.0, 970000000.0, 170000000.0, 141000000.0, 160000000.0, 144000000.0, 143000000.0, 190000000.0, 376000000.0, 193000000.0, 246000000.0, 73000000.0, 658000000.0, 992000000.0, 253000000.0, 420000000.0, 404000000.0, 470000000.0, 226000000.0, 240000000.0, 89000000.0, 234000000.0, 257000000.0, 861000000.0, 467000000.0, 157000000.0, 44000000.0, 676000000.0, 67000000.0, 552000000.0, 885000000.0, 1020000000.0, 582000000.0, 619000000.0]

In [832]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          10841 non-null  float64
 3   Reviews         10841 non-null  int64
 4   Size            10841 non-null  float64
 5   Installs        10841 non-null  float64
 6   Type            10840 non-null  object
 7   Price           10841 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(4), int64(1), object(8)
memory usage: 1.1+ MB